/*----------------------------------------Limpar Formatações-----------------------------------------*/

* {    
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: white;
}

/*-----------------------------------------------Cabeçalho-------------------------------------------*/

#cabecalho {
    width: 100%; /*1365px*/
    height: 80px;                    /* Altura do cabeçalho */
    background:rgb(4, 35, 82);     /* Cor de Fundo do cabeçalho */
    text-align: left;                /* Alinhamento central do texto- Cabeçalho */
}

#area-logo {
    margin: 0 20px;
    line-height: 80px; 
    color: rgb(45, 233, 45);  
}

/*-------------------------------------------Layout Principal----------------------------------------*/

#conteudos {
    width: 97%;
    margin: 10px;
    min-width: 850px;
    padding: 5px;
}

#lateral-esquerda {
    width: 18%;
    background: white;
    margin: 5px;
    float: left;
}

#esquerda-bottom {
    margin: 10px 1px;
    float: left;   
}

#conteudo-principal {   
    margin: 5px;
    margin-left: -35px;
    float: left; 
}

#lateral-direita { 
    margin: 5px;
    float: left;

}

#direita-bottom {
    margin: 5px;
    margin-left: 0px;
}


/*-------------------------------------------Fim Layout Principal------------------------------------*/

 /*-----------------------------------------------Id Rodape------------------------------------------*/

#rodape {                    
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    
}

/*----------------------------------------------Classe Branco-----------------------------------------*/

.branco {                   
    color: white;
}

/*--------------------------------------------Navegação Vertical--------------------------------------*/

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    /*padding: 5px 20px;*/
    /*background: url(../imagens/seta.png) no-repeat left center;*/
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;  /*--------Movimenta o Background------------*/
    color: white;
}